[submodule "src/opt/victronenergy/dbus-ble-sensors-py/ext/aiooui"]
	path = src/opt/victronenergy/dbus-ble-sensors-py/ext/aiooui
	url = https://github.com/Bluetooth-Devices/aiooui.git
[submodule "src/opt/victronenergy/dbus-ble-sensors-py/ext/bleak"]
	path = src/opt/victronenergy/dbus-ble-sensors-py/ext/bleak
	url = https://github.com/hbldh/bleak.git
[submodule "src/opt/victronenergy/dbus-ble-sensors-py/ext/bleak-connection-manager"]
	path = src/opt/victronenergy/dbus-ble-sensors-py/ext/bleak-connection-manager
	url = https://github.com/TechBlueprints/bleak-connection-manager.git
[submodule "src/opt/victronenergy/dbus-ble-sensors-py/ext/bleak-retry-connector"]
	path = src/opt/victronenergy/dbus-ble-sensors-py/ext/bleak-retry-connector
	url = https://github.com/Bluetooth-Devices/bleak-retry-connector.git
[submodule "src/opt/victronenergy/dbus-ble-sensors-py/ext/bluetooth-adapters"]
	path = src/opt/victronenergy/dbus-ble-sensors-py/ext/bluetooth-adapters
	url = https://github.com/Bluetooth-Devices/bluetooth-adapters.git
